*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
*:focus{
    outline: 2px dotted red;
    outline-offset: 2px;
}
body{
    font-family: Open sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: #444444;
    background-color: #fff;
}
.container{
    margin: 0 auto;
    max-width: 1140px;
    padding-left: 20px;
    padding-right: 20px;
}
.btn{
    text-decoration: none;
    background-color: #DE2E54;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    border: 2px solid #DE2E54;
    font-family: Open sans, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 2px;
    text-align: left;
    cursor: pointer;
    display: inline-block;
}
.btn:hover{
    background-color: #fff;
    color: #DE2E54;
}
.btn:active{
    background-color: #DE2E54;
    color: #fff;
    opacity: .6;
}
.header{
    padding: 24px 0;}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}
.header__logo{
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    font-family: Open sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #222222;
}
.header__logo:hover{
    color: #DE2E54;
    opacity: .8;
}
.header__logo:active{
    opacity: .6;
}
.nav__list{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav__link{
    text-decoration: none;
    font-family: Open sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: left;
    color: #222;
}
.nav__link.active{
    color: #DE2E54;
}
.nav__link:hover{
    color: #DE2E54;
}
.nav__link:active{
    opacity: .6;
}
.open{
    display: none;
}
.close{
    display: none;
    border: none;
    font-size: 28px;
    background-color: #fff;
}
@media (max-width: 765px){
    .nav{
        display: none;
    }
    .nav__list{
        display: block;
    }
    .header__container{
        flex-direction: column;
        text-align: center;
    }
    #btnone{
        display: none;
    }
    .open{
        display: block;
        border: none;
        font-size: 28px;
        background-color: #fff;
        transform: rotate(180deg);
    }
}
/* hero start */
.hero{
    padding-top: 29px;
    background-color: #0EB4C1;
    color: white;
}
.hero__container{
    display: flex;
    justify-content: space-between;
}
.hero__info{
    padding-top: 91px;
    max-width: 500px;
}
.hero__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 16px;
}
.hero__text{
    padding-top: 30px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 36px;
}
@media(max-width: 765px){
    .hero__container{
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .hero__info{
        margin: 0 auto;
    }
    .hero__img{
        margin-top: 30px;
        width: 300px;
        object-fit: cover;
    }
}
/* hero end */
/* services start */
.services{
    padding: 120px 0;
}
.services__title{
    text-align: center;
    margin-bottom: 56px;
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
}
.services__container{
    max-width: 904px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.services__card__nfo{
    margin-top: -20px;
}
.services__card{
    display: flex;
    gap: 40px;
    align-items: center;
}
.services__card__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    margin-bottom: 24px;
    color: #222222;
}
.services__card__text{
    color:  #444444;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}
.services__btn{
    text-align: center;
}
@media(max-width: 765px){
    .services__card{
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
    }
    .services__card__info{
        margin: 0 auto;
        text-align: center;
    }
    .services__card__text{
        text-align: center;
        margin: 0 auto;
    }
    .services__card__title{
        text-align: center;
        margin:  0 auto;
        margin-bottom: 10px;
    }
}
/* services end */
/* contact start */
.contact{
    padding: 64px 0;
    background-color: #0EB4C1;
    text-align: center;
}
.contact__title{
    font-size: 36px;
    font-weight: 700;
    line-height: 43px;
    letter-spacing: 0px;
    color: #fff;
    margin-bottom: 40px;
}
.contact__buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.btn.contact__btn{
    background-color: #0EB4C1;
    border-color: #fff;
}

.btn.contact__btn:hover{
    background-color: #DE2E54;
    color: #fff;
    border-color: #DE2E54;
}
.btn.contact__btn:active{
    background-color: #DE2E54;
    color: #fff;
    border-color: #DE2E54;
    opacity: .6;
}
@media(max-width: 765px){
    .contact__buttons{
        flex-wrap: wrap;
    }
    .contact__title{
        flex-wrap: wrap;
    }
}
/* contact end */
/* header__two start */
.header__two{
    background-color: #000;
    padding: 24px 0;
}
.header__two__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    gap: 16px;
}
.header__two__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav__two__list{
    list-style: none;
    display: flex;
    gap: 32px;
    align-items: center;
}
.nav__two__link{
    text-decoration: none;
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    text-align: left;
    color: #fff;
}
@media(max-width: 765px){
    .nav__two{
        display: none;
    }
    .header__two__logo{
        margin: 0 auto;
    }
}
/* header__two end */